version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
      - "9090:9090"
    environment:
      DATABASE_URL: /data/pulsesend.db
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      API_PORT: 8080
      METRICS_PORT: 9090
    depends_on:
      - mailpit
    volumes:
      - app-data:/data

  mailpit:
    image: axllent/mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  app-data: {}